@keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }   

body{
    animation: fade-in 1.5s normal forwards ease-in-out;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #EAEAEA;
    padding: 10px;
    position: fixed;
    width: 100%;
    box-shadow: 10px 0px 5px 5px #EAEAEA;
}

.logo{
    margin-right: 830px;
    font-size: 20px;
}

.ul{
    display: flex;
    justify-content: end;
   
}

a{
    text-decoration: none;
}

.a{
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
}

.contatos{
    margin-right: 100px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}


.primeria-div{
    background-color: #CCCCCC;
    padding: 65px;
}

.h1-1{
    padding-top: 130px;
    padding-bottom: 10px;
    font-size: 20px;
    animation: go-back 2s;
}

.texto{
    display: flex;
    flex-direction: column;
}

.h2{
    animation: go-back 1s;
}

.div-img{
    margin-top: -230px;
    display: flex;
    justify-content: end;
    height: 370px;
    width: 1150px;
    animation: go-back 2s;
}


.segunda-div{
    
    padding: 65px;
}

.h1-2{
    padding-top: 80px;
    padding-bottom: 70px;
    font-size: 20px;
    animation: go-back 6s;
}

.sobre{
    border-top: 5px  solid black;
}

.texto-2{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}


.terceira-div{
    background-color: #979797;
    
}

.formacoes{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 19px;
    animation: go-back 8s;
}

.coes{
    border-top: 3px  solid black;
    margin-top: -4px ;
}

h2{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 50px;
    animation: go-back 10s;
}

.bolas{
    display: flex;
    justify-content: center; 
}

.bola {
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-right: 50px;
    background-color: #E5E5E5;
}

.bola-info{
    display: flex;
    justify-content: center;
}

.info-bola-titulo{
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 30px;
    height: 100px;
    width: 100px;
    margin-right: 50px;
    margin-bottom: -70px;
}

.ti1{
    color: #000000;
}

.infos-bola{
    display: flex;
    justify-content: center;
}

.infos{
    margin-top: 30px;
    height: 200px;
    width: 100px;
    margin-right: 50px;
    font-size: 13px;
    color: #FFFFFF;
}


.div-img-2{
    margin-top: -240px;
    display: flex;
    justify-content: end;
    height: 270px;
    width: 1050px;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.logo-final{
    display: flex;
    justify-content: center;
    margin: 45px 0px;
    margin-right: 12px;
    font-size: 60px;
}

.li-rede{
    margin-right: 15px;
    margin-bottom: 60px;
    margin-top: 15px;
}


footer{
    background-color: #C4C4C4;
}

.p-rodape{
    display: flex;
    justify-content: center;
    padding: 17px;
    font-size: 12px;
}


.h1-hard{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding: 30px;
    animation: go-back 2s;
}

.skils{
    border-top: 3px  solid black;
    margin-top: -4px;
}

.h2-hard{
    display: flex;
    justify-content: center;
    color: #BDBDBD;
    animation: go-back 2.5s;
}

.li-hard{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    
}

.li-hard1{
    animation: go-back 1s;
}

.li-hard2{
    animation: go-back 2s;
}

.li-hard3{
    animation: go-back 3s;
}

.li-hard4{
    animation: go-back 3.5s;
}

.li-hard5{
    animation: go-back 4s;
}

.li-hard6{
    animation: go-back 4.5s;
}

.li-hard7{
    animation: go-back 5s;
}

.img-hard{
    display: flex;
    justify-content: end;
    margin-top: -340px;
    margin-right: 100px;
}

.logo-final1{
    display: flex;
    justify-content: center;
    margin: 45px 0px;
    margin-right: 12px;
    font-size: 60px;
    margin-top: 250px;
}

.css::-webkit-progress-value {
    background-color: black;
    
  }

  progress {
    
    background: yellow;
    
  }

.a{
    transition: transform 1s;
  transform: translateX(0) scale(0.5);
}

.a:hover, a:focus{
    color: rgb(80, 90, 117);
    transform: scale(1.2);
    transition: transform 0.2s;
}

.li-rede:hover{
    transform: scale(1.2);
    transition: transform 0.2s;
}

.bola:hover{
    transform: scale(1.2);
    transition: transform 0.2s;
    border: #000000 solid 10px;
}

.info-bola-titulo:hover{
    color: #000000;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.logo-final:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}

.logo-final1:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}

.img-eu:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}

.h1-1:hover{
    color: #7f7575;
}



